.ContainerProductInfo {
    min-width: 260px;
    max-width: 260px;
    min-height: 500px;
    border: 1px solid #000000;
    margin: 25px 20px;
    padding: 10px 10px;
    background-color: white;
    box-shadow: 0 3px 4px #999;
}

#addFormCategory {
    margin-top: 3%;
    border: 2px solid #000000; /* add border to the buttons */
    border-radius: 5px;
    text-align: left;
    background-color: #e6ffcc;
}

#addFormProduct {
    margin-top: 3%;
    border: 2px solid #000000; /* add border to the buttons */
    border-radius: 5px;
    text-align: left;
    background-color: #cc99ff;
}

#addFormProducer {
    margin-top: 3%;
    border: 2px solid #000000; /* add border to the buttons */
    border-radius: 5px;
    text-align: left;
    background-color: #ff6666;
}

.containerForPrice {
    position: absolute;
    bottom: 0px;
    left: 10px;
}
