body {
    background-color: antiquewhite;
}

.container-product-info {
    min-width: 260px;
    max-width: 260px;
    min-height: 500px;
    border: 1px solid #000000;
    margin: 25px 20px;
    padding: 10px 10px;
    background-color: white;
    box-shadow: 0 3px 4px #999;
}

#addFormCategory {
    margin-top: 3%;
    border: 2px solid #000000; /* add border to the buttons */
    border-radius: 5px;
    text-align: left;
    background-color: #e6fff2;
}

#addFormProduct {
    margin-top: 3%;
    border: 2px solid #000000; /* add border to the buttons */
    border-radius: 5px;
    text-align: left;
    background-color: #e6fff2;
}

#addFormProducer {
    margin-top: 3%;
    border: 2px solid #000000; /* add border to the buttons */
    border-radius: 5px;
    text-align: left;
    background-color: #e6fff2;
}

.container-for-price {
    position: absolute;
    bottom: 0px;
    left: 10px;
}

.container-margin-top {
    margin-top: 40px;
}

.my-jumbotron {
    background-image: url("../images/jumbotronBG.jpg");
    margin-bottom: 0;
    padding-top: 2%;
    height: 150px;
    border-bottom: 6px dotted red;
    text-align: center;
}

#social {
    margin: 10px 10px;
    text-align: center;
}

.sm-global-btn { /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 2px solid #ddd; /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 23px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
}

/* facebook button class*/
.facebook-btn {
    background: #4060A5;
}

.facebook-btn:before { /* use :before to add the relevant icons */
    font-family: "Font Awesome 5 Brands";
    content: "\f09a"; /* add facebook icon */
}

.facebook-btn:hover {
    color: #4060A5;
    background: #fff;
    border-color: #4060A5; /* change the border color on mouse hover */
}

/* twitter button class*/
.instagram-btn {
    background: #e4405f;
}

.instagram-btn:before {
    font-family: "Font Awesome 5 Brands";
    content: "\f16d"; /* add instagram icon */

}

.instagram-btn:hover {
    color: #e4405f;
    background: #fff;
    border-color: #e4405f;
}

/* telegram button class*/
.telegram-btn {
    background: #0084ff;
}

.telegram-btn:before {
    font-family: "Font Awesome 5 Brands";
    content: "\f3fe"; /* add telegram icon */
}

.telegram-btn:hover {
    color: #0084ff;
    background: #fff;
    border-color: #0084ff;
}

/* viber button class*/
.viber-btn {
    background: #8f5db7;
}

.viber-btn:before {
    font-family: "Font Awesome 5 Brands";
    content: "\f409"; /* add viber icon */
}

.viber-btn:hover {
    color: #8f5db7;
    background: #fff;
    border-color: #8f5db7;
}

/* vk button class*/
.vk-btn {
    background: #4c75a3;
}

.vk-btn:before {
    font-family: "Font Awesome 5 Brands";
    content: "\f189"; /* add pinterest icon */
}

.vk-btn:hover {
    color: #4c75a3;
    background: #fff;
    border-color: #4c75a3;
}

.my-footer {
    background-image: linear-gradient(#ff8080, antiquewhite);
    margin-top: 100px;
}

.underscore-width {
    width: 60px;
}

.word-color-red {
    color: #e62e00;
}

.word-color-light-red {
    color: #ff704d;
}

.word-color-purple {
    color: #b300b3;
}

.word-color-light-purple {
    color: #9966ff;
}

.word-color-light-blue {
    color: #00b3b3;
}

.display-none {
    display: none;
}

.margin-between-container-product-info {
    margin: 25px 10px;
}

.photo-size {
    width: 238px;
    height: 294px;
}

.logo-size {
    width: 35px;
    height: 35px;
}
local-flag-size {
    width: 16px;
    height: 16px;
}

.carousel-size {
    width: 1600px;
    height: 650px;
}

.user-logo-icon-and-username {
    margin-right: 15px;
}

.user-logo-color{
    color: white;
}